
@import url(https://fonts.googleapis.com/css?family=Exo:400,500,500italic,400italic,600,600italic,700,700italic,800,800italic,300,300italic);

body{
font-family: 'Open Sans', sans-serif !important;


	/*The below background is just to add some color, you can set this to anything*/

}


h1{
text-align:center;
font-size:3em;
font-variant:small-caps;
letter-spacing:-0.05em;
font-weight:100;
}

#BuyButton{
font-size: 3em;
margin-left:0.5em;
}

#Price{
margin-left:4em;
}

#NavBarBuy{
font-size:2em;
}


#slogan{
margin-top:1em;
font-size:2em;
font-variant:small-caps;
letter-spacing:-0.05em;
font-weight:100;
}


table{
width:100%;

}
td{
margin:.3em .5em;
padding:1em !important;
}

#success{
text-align:center;
font-size:3em;
font-variant:small-caps;
letter-spacing:-0.05em;
font-weight:100;
color:#0f0;
}

#failure{
text-align:center;
font-size:3em;
font-variant:small-caps;
letter-spacing:-0.05em;
font-weight:100;
color:#f00;
}

.login-form{width:390px;}
.login-title{font-family: 'Exo', sans-serif;text-align:center;color: white;}
.login-userinput{margin-bottom: 10px;}
.login-button{margin-top:10px;}
.login-options{margin-bottom:0px;}
.login-forgot{float: right;}


.error-message {
	padding: 7px 10px;
	background: #fff1f2;
	border: #ffd5da 1px solid;
	color: #d6001c;
	border-radius: 4px;
}
.success-message {
	padding: 7px 10px;
	background: #cae0c4;
	border: #c3d0b5 1px solid;
	color: #027506;
	border-radius: 4px;
}
.demo-table {
	background: #d9eeff;
	width: 100%;
	border-spacing: initial;
	margin: 2px 0px;
	word-break: break-word;
	table-layout: auto;
	line-height: 1.8em;
	color: #333;
	border-radius: 4px;
	padding: 20px 40px;
}
.demo-table td {
	padding: 15px 0px;
}
.demoInputBox {
	padding: 10px 30px;
	border: #a9a9a9 1px solid;
	border-radius: 4px;
}
.btnRegister {
	padding: 10px 30px;
	background-color: #3367b2;
	border: 0;
	color: #FFF;
	cursor: pointer;
	border-radius: 4px;
	margin-left: 10px;
}

.btnLeave {
	padding: 15px 30px;
	background-color: #3367b2;
	border: 0;
	color: #FFF;
	cursor: pointer;
	border-radius: 4px;
	margin-left: 10px;
	position:absolute;
    transition: .5s ease;
    top: 65%;
    left: 30%;
}
